{% extends 'index.html' %} 
<!-- TITLE -->
{% block title %}
<title>Business Profile Archive | About</title>
{% endblock %}

<!-- PAGE STYLE -->
{% block pageStyle %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}
<div class="about-container bg-primary text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4 about-h1">Online Business Profile Archive</h1>
                <p class="lead">Where every business gets listed.</p>
            </div>
        </div>
        <div class="row mt-4">
                <p class="text-center" id="about-text">
                    This site was created to showcase the importance of accessible and organized business data. It provides a simple interface to view and record basic information about various businesses.
                </p>
        </div>
        <div class="mt-5">
            <div class="text-center">
                <h3>Developers</h3>
                <ul id="dev-list" class="d-flex flex-wrap justify-content-evenly align-items-center">
                    <li>
                        <div>    
                            <img width="120px" src="{{ url_for('static', filename='img/juybin-profile.png') }}"  class="mb-3"  alt=""> 
                            <br>  
                            Juybin Araña
                        </div>
                    </li>
                    <li >
                        <div>
                            <img width="120px"  src="{{ url_for('static', filename='img/melvin-profile.jpg') }}"  class="mb-3"  alt=""> 
                            <br>   
                            Melvin Agustin
                         </div>
                </li>
                    <li >
                        <div>
                            <img width="120px" height="120px"  style="object-fit: cover; object-position: center;" src="{{ url_for('static', filename='img/angel-profile.JPG') }}"  class="mb-3"  alt="">  
                            <br>  
                            Angel Manzano 
                        </div>
                    </li>
                    <li >
                        <div>
                            <img width="120px" height="120px" style="object-fit: cover;" src="{{ url_for('static', filename='img/alexander.png') }}"  class="mb-3"  alt="">  
                            <br>  
                            Alexander Ferrer
                        </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <svg  id="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0d6efd"  fill-opacity="1" d="M0,256L60,229.3C120,203,240,149,360,128C480,107,600,117,720,144C840,171,960,213,1080,240C1200,267,1320,277,1380,282.7L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>     
</div>
{% endblock %}