{% extends 'index.html' %} 
<!-- TITLE -->
{% block title %}
<title> Business Profile Archive </title>
{% endblock %}

<!-- PAGE CSS -->
{% block pageStyle %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}" />
{% endblock %}

<!-- MAIN CONTENT -->
{% block content %}
    <section id="showcase" class="bg-primary text-light">
        <div>
            <h1><span>Welcome to</span> <br> Business Profile Archive</h1>
            <p>
                Where every business gets listed.
            </p>
            <a href="/dashboard" class="btn btn-primary" id="get-start-btn">Get Started</a>
        </div>
        <svg  id="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0d6efd"  fill-opacity="1" d="M0,256L60,229.3C120,203,240,149,360,128C480,107,600,117,720,144C840,171,960,213,1080,240C1200,267,1320,277,1380,282.7L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    </section>
{% endblock%}
