<div class="modal fade" id="identification-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Owner Identification</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mt-3">
                <div class="mb-3">
                    <div class="id-preview-container text-center " >
                        <p>Front ID</p>
                        <img  src="" alt="" id="front-id">
                    </div>
                </div>
                <div class="">
                    <div class="id-preview-container text-center" >
                        <p>Back ID</p>
                        <img src="" alt="" id="back-id">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
