
<header
      id="main-header"
      class="d-flex bg-primary align-items-center justify-content-between p-3"
    >
      <h1 class="h3 text-light">Business Registry</h1>
      <nav>
        <ul class="d-flex justify-content-end gap-4">
          <li class="nav-link">
            <a class="text-light text-decoration-none" href="/"
              >Home</a
            >
          </li>
          <li class="nav-link">
            <a class="text-light text-decoration-none" href="/about"
              >About us!</a
            >
          </li>
        </ul>
      </nav>
    </header>